/*
 Theme Name:   Prostocklivestock Child
 Theme URI:    http://dahz.daffyhazan.com/verko
 Description:  Verko Responsive Wordpress Theme for Law Firm and Business Designed by <a href="http://www.daffyhazan.com">Dahz</a>.
 Author:       prostocklivestock
 Author URI:   http://www.daffyhazan.com
 Template:     prostocklivestock
 Version:      1.1
 License:      GNU General Public License v3.0
 License URI:  http://www.gnu.org/licenses/gpl-3.0.html
 Tags:         one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, full-width-template, microformats, post-formats, sticky-post, accessibility-ready
 Text Domain:  prostocklivestock
*/

@font-face {
    font-family: 'Tahoma';
    src: url('fonts/Tahoma.woff2') format('woff2'),
        url('fonts/Tahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tahomabold';
    src: url('fonts/Tahoma-Bold.woff2') format('woff2'),
        url('fonts/Tahoma-Bold.woff') format('woff'); 
    font-weight: bold;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, .universe-search .universe-search-form .universe-search-input{
	font-family: 'Tahoma' !important;
}
body, .site-header .main-navigation ul ul a, .df-social-connect a, .languages-list a {
    font-family: 'Tahoma' !important;
}
body .mobile-primary-navbar > li > a, body .main-navigation .df-mega-menu > .sub-nav > li.has-children:not(.new-column) > a, body .site-header .main-navigation a {
    font-family: 'Tahoma';
}

.header-wrapper.col-full {
    padding: 0 !important;
}
.header-wrapper .menu-section .df_container-fluid.fluid-width {
    padding: 0 20px;
}
.header-wrapper .menu-section .df_container-fluid.fluid-width .col-left {
    width: calc(100% - 68%);
}

.header-wrapper .menu-section .df_container-fluid.fluid-width .menu-align.alignright {
    width: calc(100% - 32%);
    text-align: right;
}

.home .header-wrapper .menu-section {
    top: 50px;
}
.header-wrapper .menu-section.on-fixed-scroll {
    top: 0;
}
.site-header .df-navi {
    margin: 25px 0 0 0;
}
.header-wrapper .menu-section.on-fixed-scroll .site-header .df-navi {
    margin: 0;
}
.header-wrapper .menu-section.on-fixed-scroll .site-header .df-navi li a {
    font-size: 15px;
	color: #02253d;
}
.header-wrapper .menu-section.on-fixed-scroll .site-header .df-navi li a:hover{
	color: #616161;
}
.header-wrapper .site-header {
    position: relative;
}
.header-wrapper .site-header:before {
    content: "";
    background: #02253d;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 65%);
}
.site-header .main-navigation>ul>li.current_page_item >a {
    color: #02253d;
    opacity: 1;
    font-weight: 600;
	font-family: 'Tahomabold';
}
.site-header .main-navigation>ul>li>a {
    color: #02253d;
    opacity: 1;
	font-size:15px;
	padding: 0 8px 15px;
	text-decoration: none;
}
.branding2 .df-sitename img {
    height: 73px;
    object-fit: cover;
}
img.normal-logo.hide {
    display: inline !important;

}
.sticky-scroll-nav .branding2 .df-sitename img {
    height: 30px;
}
body .ms-slide .ms-layer, body .ms-fixed-layers .ms-layer{
	color:#fff !important;
	font-family: 'Tahomabold';
	font-size: 55px !important;
}
body .ms-slide .ms-layer span {
    font-size: 42px;
    font-family: 'Tahoma';
}
.section_1 h2 {
    font-size: 35px;
    line-height: 50px;
	color: #1f314f;
}
.section_1 p {
    font-size: 20px;
    color: #000;
    line-height: 30px;
}
.section_1 blockquote.blk2 {
    font-size: 20px;
    color: #000;
    font-family: 'Tahoma';
    line-height: 30px;
}
.section_2 {
    text-align: center;
}
.section_2 h2 {
    font-size: 36px;
    color: #fff;
    margin: 0;
    line-height: 50px;
}
body .section_2 .vc_column-inner {
    padding: 0 !important;
}
body .section_2 h2 a {
    color: #fff;
    text-transform: uppercase;
    font-size: 35px;
    text-decoration: underline;
}
body .section_2 h2 a:hover {
    color: #616161;
}
.site-header, .main-navigation a, .df-sitename {
    outline: none;
}
.section_2:before {
    content: "";
    background: #ededed;
    position: absolute;
    left: -30px;
    top: -50px;
    height: 50px;
    width: 25%;
    transform: skewX(50deg);
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
}
.section_2:after {
    content: "";
    background: #ededed;
    position: absolute;
    right: -30px;
    bottom: -50px;
    height: 50px;
    width: 25%;
    transform: skewX(50deg);
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
}
body .ms-skin-black-2 .ms-bullet {
    background: #02253d;
    border-color: rgba(255, 255, 255, 0.44);
}
body .ms-skin-black-2 .ms-bullet-selected {
    background-color: #02253d;
    border-color: #fff;
}
.cpta-Section {
    display: inline-block;
    width: 100%;
}
.adverts_section {
    background: rgba(2, 36, 61, 0.8);
    padding: 20px 20px 20px 60px;
    margin-top: 60px;
    left: -75px;
    min-height: 300px;
}
.adverts_section:after {
    background: rgba(2, 36, 61, 0.8);
    content: "";
    position: absolute;
    right: -75px;
    height: 100%;
    width: 75px;
    top: 0;
}
.adverts_section a {
    font-size: 35px;
    color: #fff;
    line-height: 45px;
}
.adverts_section a:hover {
    color: rgba(195,195,195,.8);
}
.cpta_image img {
    min-height: 420px;
    object-fit: cover;
}
.cpta_image {
    padding: 0;
}
.adverts_section h2 {
    margin-bottom: 10px;
    max-height: 90px;
    height: 90px;
    overflow: hidden;
}
.adverts_desc p {
    font-size: 22px;
    line-height: 30px;
    font-weight: normal;
    color: #fff;
}
.adverts_desc i {
    display: block;
    padding-top: 15px;
}
.price_qty {
    display: inline-block;
    vertical-align: middle;
}
.post_id {
    display: inline-block;
    vertical-align: middle;
    float: right;
}
.adverts_section span {
    color: #fff;
    font-family: 'Tahomabold';
    font-size: 22px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 6px 12px;
}
.cpta-Section.even .adverts_section {
    left: auto;
    right: -75px;
    z-index: 9;
    padding: 20px 60px 20px 0;
}
.cpta-Section.even .adverts_section:after {
    background: rgba(2, 36, 61, 0.8);
    content: "";
    position: absolute;
    left: -75px;
    height: 100%;
    width: 75px;
    top: 0;
}
.list-cptapagination {
    text-align: right;
}
ul.list-cptapagination li {
    float: none;
    display: inline-block;
}
ul.list-cptapagination li:last-child {
    margin: 0;
}
ul.list-cptapagination li a {
    background: transparent;
    border: none;
    color: #ded9d9;
    padding: 6px 25px;
    font-size: 18px;
    display: inline-block;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
}
ul.list-cptapagination li:hover a {
    background: #02243d !important;
}
ul.list-cptapagination li a.active {
    background: #02243d !important;
    color: #ffffff !important;
    transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);

}
body .section_4.vc_row-has-fill>.vc_column_container>.vc_column-inner {
    padding: 0 !important;
}
.section_4:before {
    content: "";
    background: #ededed;
    position: absolute;
    left: -30px;
    top: -50px;
    height: 50px;
    width: 37%;
    transform: skewX(50deg);
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
}
.section_4:after {
    content: "";
    background: #ededed;
    position: absolute;
    right: -30px;
    bottom: -50px;
    height: 50px;
    width: 37%;
    transform: skewX(50deg);
    -webkit-transform: skewX(50deg);
    -moz-transform: skewX(50deg);
}


.loading-block {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background: #f1f1f1;
    top: 0;
    bottom: 0;
}
#img_loading {
    position: fixed;
    top: 50%;
    left: 50%;
    display: block;
    z-index: 9;
}

.prostock_heading .vc_column-inner {
    padding: 0;
}
.prostock_heading .custom_heading {
    display: inline-block;
    width: 100%;
    margin: 0;
    vertical-align: bottom;
}
.prostock_heading .custom_heading h2 {
    margin: 0;
    height: 90px;
    line-height: 90px;
    font-size: 30px;
    color: #1f314f;
	position:relative;
}
.section_6 .prostock_heading .custom_heading h2 {
    text-transform: uppercase;
}

.nopadding{
	padding:0;
}
.section_3_child .vc_column_container>.vc_column-inner {
    padding-top: 0 !important;
}
.prostock_heading .right_pattern .custom_heading h2 {
    text-align: right;
}
.prostock_heading .custom_heading h2:after {
    content: "";
    position: absolute;
    background: #eee;
    right: -35px;
    top: 0;
    height: 90px;
    width: 90px;
    transform: skewX(35deg);
    -webkit-transform: skewX(35deg);
    -moz-transform: skewX(35deg);
}
.prostock_heading .right_pattern .custom_heading h2:after {
    right: auto;
    left: -35px;
    transform: skew(-35deg);
    -webkit-transform: skew(-35deg);
    -moz-transform: skew(-35deg);
}
.prostock_heading .galry_heading .custom_heading h2 {
    text-transform: uppercase;
}
.sale_info p {
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    padding: 0 70px;
}
.market_report {
    padding-left: 50px;
}
.gallry_block .vc_column-inner {
    padding: 0;
}
.gallry_block .single_gallery .wpb_image_grid_ul img {
    height: 301px;
    object-fit: cover;
}
.gallry_block .wpb_image_grid_ul img {
    border: 1px solid #fff;
}
.gallry_block {
    padding: 0 25px;
}

.wpb_posts_slider .flex-caption {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    width: 100%;
    padding: 25px 25px;
    height: 125px;
}
.wpb_posts_slider .flex-caption h2.post-title {
    margin: 0;
}
.wpb_posts_slider .flex-caption .post-title a.link_image {
    color: #fff;
    font-size: 28px;
}
.wpb_posts_slider .flex-caption p {
    color: #fff;
    font-size: 18px;
    margin: 0;
}

#df-fancy-header {
    margin-bottom: 0;
}
.df-header {
    padding: 0;
}
h1.fancy-title.entry-title {
    color: #fff;
}
.breadcrumbs .breadcrumb-trail a{
    color: #fff;
}
.breadcrumbs .breadcrumb-trail span.sep{
	color: #fff;
}
.breadcrumbs .breadcrumb-trail span.trail-end{
	color: #fff;
}

.profile_section_1 img {
    padding: 20px;
    margin-top: 25px;
}
.profile_section_2 img {
    padding: 20px;
    margin-top: 85px;
}
.post_grids_block .vc_grid-filter.vc_grid-filter-color-grey>.vc_grid-filter-item.vc_active, .post_grids_block .vc_grid-filter.vc_grid-filter-color-grey>.vc_grid-filter-item:hover {
    background: #02253d;
}
.post_grids_block .vc_grid-filter.vc_grid-filter-color-grey>.vc_grid-filter-item.vc_active>span {
    color: #fff;
}
.post_grids_block .vc_grid-filter.vc_grid-filter-color-grey>.vc_grid-filter-item:hover span {
	color:#fff;
}
.post_grids_block .vc_btn3.vc_btn3-color-juicy-pink, .post_grids_block .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat {
    color: #fff;
    background-color: #02253d;
    padding: 8px 12px;
	border: none !important
}
.post_grids_block .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:focus, .post_grids_block .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover, .post_grids_block .vc_btn3.vc_btn3-color-juicy-pink:focus, .post_grids_block .vc_btn3.vc_btn3-color-juicy-pink:hover {
    color: #fff;
    background-color: #02253d;
    opacity: 0.8;
    border: none !important;
}
.post_grids_block .vc_custom_heading {
    margin-bottom: 0;
}
.post_grids_block .vc_custom_heading h4 {
    margin-bottom: 0;
    font-size: 16px;
    color: #02253d;
}
.post_grids_block p {
    font-size: 14px;
}
.post_grids_block .vc_grid-container-wrapper {
    margin-top: 30px;
}
p:empty {
    display: none;
}
.df-sidebar button.fa.fa-search.submit {
    background: transparent !important;
}
.contact_section h3 {
    margin: 0;
    color: #02253d;
}
.contact_section .wpcf7-form.form7_underline input[type=email]:focus, .contact_section .wpcf7-form.form7_underline input[type=file]:focus, 
.contact_section .wpcf7-form.form7_underline input[type=number]:focus, .contact_section .wpcf7-form.form7_underline input[type=tel]:focus, 
.contact_section .wpcf7-form.form7_underline input[type=text]:focus, .contact_section .wpcf7-form.form7_underline input[type=url]:focus, 
.contact_section .wpcf7-form.form7_underline select:focus, .contact_section .wpcf7-form.form7_underline textarea:focus{
	border-color: #02253d!important;
}
.df_button_flat .button, .df_button_flat button, .df_button_flat input[type="submit"], .df_button_flat input[type="reset"], .df_button_flat input[type="button"]{
	border-color: #1f314f !important;
    background: #1f314f !important;
}
.df_button_flat .button:hover, .df_button_flat button:hover, .df_button_flat input[type="submit"]:hover, .df_button_flat input[type="reset"]:hover, .df_button_flat input[type="button"]:hover{
	border-color: #1f314f !important;
    background: #1f314f !important;
	opacity:0.8;
}
.contact_section h1{
	position:relative;
}
.contact_section h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid #02253d;
    width: 75px;
}
.useful_links_heading h2.vc_custom_heading {
    margin-bottom: 0;
    font-size: 30px;
    position: relative;
    padding-bottom: 12px;
}
.useful_links_heading h2.vc_custom_heading:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 2px solid #1f314f;
    width: 75px;
}
.useful_links h4.vc_custom_heading {
    display: inline-block;
    background: #1f314f;
    margin-right: 15px;
    width: 30%;
    font-size: 14px;
    transform: skewX(-35deg);
    -webkit-transform: skewX(-35deg);
    -moz-transform: skewX(-35deg);
}
.useful_links h4.vc_custom_heading a {
    transform: skewX(35deg);
    -webkit-transform: skewX(35deg);
    -moz-transform: skewX(35deg);
    display: block;
	padding: 6px 20px;
	color: #fff;
}
.useful_links h4.vc_custom_heading a:hover {
    opacity: 1;
}
.useful_links h4.vc_custom_heading:hover {
    opacity: 0.8;
}
.df-page-header {
    background-image: url(/wp-content/uploads/2017/12/bg-2.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.aside_post_meta {
    background: #02253d;
    padding: 15px !important;
}
.meta_block.even {
    margin-top: 10px;
}
.aside_post_meta span {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #fff;
    padding: 6px 12px;
}
.section_5 .wpb_single_image .vc_single_image-wrapper {
    border: 2px solid #02243d;
    padding: 5px;
}
.footer-primary-widgets {
    background: transparent;
}
.footer-primary-widgets {
    padding: 110px 0;
}
h2.foot_phone {
    font-size: 36px;
    color: #fff;
    margin: 0;
}
p.mail_text {
    margin: 3px 0 0 0;
}
p.mail_text a {
    color: #e4e0e0 !important;
    font-size: 14px;
    text-transform: uppercase;
}
.footer-primary-widgets .widget_nav_menu a {
    color: #e4e0e0 !important;
    font-size: 14px;
    text-transform: uppercase;
}
.address {
    margin-top: 10px;
}
.address span {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
	color: #e4e0e0;
}
.copyright-text {
    display: inline-block;
    width: 100%;
    padding: 20px;
}
.copyright-text .copy {
    padding-top: 25px;
}
.copyright-text p {
    margin: 0;
    color: #e4e0e0;
    font-size: 14px;
}
.ads_description p {
    padding-top: 25px;
}
.flexslider {
    margin: 0 0 29px;
}
.office_address {
    margin-top: 18vh;
}
.office_address h2.vc_custom_heading {
    font-size: 30px;
    line-height: 40px;
    color: #1f314f;
}
.office_address p.vc_custom_heading {
    font-family: 'Tahoma' !important;
    font-size: 20px;
    color: #000;
    line-height: 30px;
}
.office_hr table {
    width: 100%;
    border: 1px solid #1f314f ;
}
.office_hr table th {
    color: #1f314f;
}
.office_hr table th, .office_hr table td {
    padding: 8px;
    border: 1px solid #1f314f ;
}
body .breadcrumb {
    background: transparent;
    margin: 0;
}
.header-wrapper .menu-section.on-fixed-scroll .site-header .header-southern .df-navi {
    margin-top: 0;
}
body.page.page-id-32808  .header-wrapper .menu-section.on-fixed-scroll .site-header .header-southern .df-navi {
    margin-top: 10px;
}
.wpb_gallery .wpb_flexslider .flex-control-nav {
    display: none;
}

#content .wpb_gallery_slides ul.flex-direction-nav {
    position: absolute;
    right: 40px;
}
.df_button_flat .button, .df_button_flat button, .df_button_flat input[type="submit"], .df_button_flat input[type="reset"], .df_button_flat input[type="button"]{
	 border-color: #02253d !important;
    background: #02253d !important;
}
.comment-form input[type=text]{
	    width: 100%;
}
body #related-slider .owl-item.active {
    background: transparent !important;
    color: #444751 !important;
}
body.home .flex-direction-nav a {
    opacity: 1 !important;
    top: auto;
    bottom: 0;
    background: #000;
    width: 30px !important;
    height: 30px !important;
    margin: 0;
}
body .flexslider .slides > li {
    cursor: pointer;
}
body #carousel.flexslider .flex-viewport ul.slides li.flex-active-slide {
    opacity: 0.8;
}
body.home #content .wpb_gallery_slides ul.flex-direction-nav {
    position: absolute;
    right: 52px;
    bottom: 0;
}
body.home .flex-direction-nav .flex-prev {
    left: -15px;
}
body.home .flexslider:hover .flex-prev {
    opacity: .7;
    left: -15px;
}
body.home .flexslider:hover .flex-next {
    opacity: .7;
    right: -50px;
}
body.home  .flex-direction-nav a:before {
    font-size: 30px!important;
}
.table-data {
    margin-top: 25px;
	margin-bottom: 25px
}
.table-data .selectricWrapper {
    margin-bottom: 35px;
}
.table-data input.btn.btn-primary {
    margin: 20px 15px;
}
.table-data .selectric .label {
    text-align: left;
	font-size: 15px;
}
.table-data .selectric {
    padding-left: 0;
}
.table-data .paginate_button {
    padding: 6px 12px;
}
body .table-data .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #02253d;
}
body .table-data .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 6px 12px !important;
    color: #fff !important;
    background: rgba(2, 37, 61, 0.8);
    margin-left: 3px !important;
    text-decoration: none !important;
}
.table-data .paginate_button:hover {
    opacity: 0.6;
}
.table-data .dataTables_length {
    display: inline-block;
}
.table-data div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    display: inline-block;
    float: right;
}
.table-data  table.dataTable {
    margin-top: 30px !important;
}
#cptapagination-content .adv-loader{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
	z-index:9999;
}
#cptapagination-content .adv-loader img{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	height:100px;
	width:100px;
	object-fit:cover;
}
.admin-radio li {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding-right: 30px;
    padding-left: 30px;
}
.admin-radio label {
    text-transform: uppercase;
    color: #070707;
    font-weight: 300;
    font-size: 14px;
	cursor:pointer;
}
.admin-radio [type="radio"]:checked + label:before, .admin-radio [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #1f314f ;
    border-radius: 100%;
    background: #fff;
}
.admin-radio [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.admin-radio [type="radio"]:checked + label:after, .admin-radio [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #1f314f ;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.admin-radio [type="radio"]:checked, .admin-radio [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.search_block {
    clear: both;
    padding-top: 50px;
}
.address_map {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}
.address_map iframe {
    max-width: 100%;
    width: 100%;
    height: 172px;
}
.agent_photo {
    display: inline-block;
    vertical-align: top;
    width: 40px;
}
.agent_address {
    display: inline-block;
    width: 75%;
    vertical-align: top;
    float: left;
}
.addres_group {
    box-shadow: 0px 1px 12px #676c7b;
    padding: 15px;
    border-radius: 4px;
    display: inline-block;
    width: 49%;
    vertical-align: top;
    margin-left: 5px;
}
.vc_btn3.vc_btn3-color-juicy-pink, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat{
	color: #fff;
    background-color: #02253d;
    padding: 8px 12px;
    border: none !important;
}
.vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:focus, .vc_btn3.vc_btn3-color-juicy-pink.vc_btn3-style-flat:hover, .vc_btn3.vc_btn3-color-juicy-pink:focus, .vc_btn3.vc_btn3-color-juicy-pink:hover{
	color: #fff;
    background-color: #02253d;
    opacity: 0.8;
    border: none !important;
}
.table-data .dataTables_wrapper .dataTables_paginate {
    padding-top: 0.755em;
}
.visible-xs {
    display: none !important;
}

/* login modal start */
.frontpage_login .modal-content {
    padding: 12px 20px 0;
}
.frontpage_login .modal-content .modal-header {
    padding: 15px 0;
}

.frontpage_login p.login-password input, .frontpage_login p.login-username input {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    border-color: rgba(2, 37, 61, 0.2);
}

.frontpage_login p.login-username label, .frontpage_login p.login-password label {
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.frontpage_login .modal-content button.close {
    background: transparent !important;
    color: #02253d;
    opacity: 1;
}
.frontpage_login .modal-content .modal-header h4.modal-title {
    color: #02253d;
    letter-spacing: 0;
}

.frontpage_login .modal-body form {
    margin: 0;
}
.frontpage_login .modal-content .modal-body {
    padding: 20px 0 10px;
}
/* login modal end */

.table td.right {
    text-align: right;
}
.table th.right {
    text-align: right;
}

	.frontpage_login .modal-dialog {
    right: auto;
    left: 0 !important;
}
.vc_grid-filter.vc_grid-filter-color-grey li.vc_grid-filter-item.changestatus:hover span {
    color: #fff;
}

.vc_grid-filter.vc_grid-filter-color-grey li.vc_grid-filter-item.changestatus.vc_active,
.vc_grid-filter.vc_grid-filter-color-grey li.vc_grid-filter-item.changestatus:hover {
    background-color: #02253d;
}
ul.vc_grid-filter-color-grey li.vc_grid-filter-item.changestatus.vc_active span {
    color: #fff;
}

.no_found {
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
}
/* responsive */

@media(min-width:1600px){
	.site-header .main-navigation>ul>li>a {
    font-size: 20px;
		}
		.office_address {
    margin-top: 15vh;
		}
	}

	
@media(max-width:1366px){
	.site-header .main-navigation>ul>li>a {
	font-size:14px;
	}
	.header-wrapper .menu-section.on-fixed-scroll .site-header .df-navi li a {
    font-size: 12px;
	}
	.prostock_heading .custom_heading h2 {
    font-size: 22px;
	}
	.sale_info p {
    padding: 0 60px;
	}
}
@media(max-width:1340px){
	.site-header .main-navigation>ul>li>a {
    font-size: 13px;
	}
}

@media(max-width:1200px){
	.site-header .main-navigation>ul>li>a {
    font-size: 9px;
	}
	.site-header .df-navi {
    margin: 10px 0 0 0;
	}
	body .ms-slide .ms-layer, body .ms-fixed-layers .ms-layer {
    font-size: 32px !important;
	}
	body .ms-slide .ms-layer span {
    font-size: 30px;
	}
	.section_4.vc_row-has-fill {
    padding-top: 20px !important;
	}
	.adverts_section span {
    font-size: 16px;
	}
	.prostock_heading .custom_heading h2 {
    font-size: 20px;
	}
	.sale_info p {
    padding: 0 50px;
	}
	.useful_links h4.vc_custom_heading {
    width: 48%;
	}
	
}

@media(max-width:1024px){
	.address_map {
    width: 100%;
		}
		.addres_group {
    width: 100%;
		}
		.agent_address {
    width: 90%;
		}
		.office_address {
    margin-top: 8vh;
		}
		.office_address h2.vc_custom_heading {
    margin-top: 0;
	}
	.table-data .scrollable.has-scroll>div {
    overflow-x: visible;
	}
}
	
@media(max-width:991px){
.normal-logo {
    display: block;
	}
	.section_2 h2 {
    font-size: 25px;
	}
	body .section_2 h2 a {
    font-size: 25px;
	}
	.adverts_section a {
    font-size: 20px;
	}
	.adverts_desc p {
    font-size: 16px;
	}
	.adverts_section h2 {
    max-height: 35px;
    height: 35px;
	}
	.adverts_section span {
    font-size: 12px;
	}
	.adverts_section {
    padding: 20px 35px;
    left: 0;
	}
	.adverts_section:after{
		content:none;
	}
	.cpta-Section.even .adverts_section {
    right: 0;
    padding: 20px 35px;
	}
	.cpta-Section.even .adverts_section:after{
		content:none;
	}
	.sale_info p {
    font-size: 15px;
    line-height: 30px;
    padding: 0;
	}
	.prostock_heading .custom_heading h2 {
    font-size: 18px;
	}
	.prostock_heading .custom_heading h2:after{
		right:-50px;
	}
	body .flex-direction-nav .flex-next {
    right: -50px;
	}
	.agent_address {
    width: 85%;
		}
	.section_1 h2 {
    font-size: 25px;
    line-height: 40px;
	}
	.wpb_posts_slider .flex-caption .post-title a.link_image {
    font-size: 22px;
	}
	.profile_section_1 img {
    padding: 0;
    margin-top: 0;
	}
	.profile_section_2 img {
    padding: 0;
    margin-top: 0;
	}
	.vc_responsive .vc_grid-filter-select {
    text-align: left;
	}
	.vc_grid-filter-select .vc_grid-styled-select {
    width: 200px;
	}
	.vc_grid-filter-select .vc_grid-styled-select select {
    width: 100%;
	}	
	.hentry .entry-title {
    font-size: 20px;
	}
	.useful_links h4.vc_custom_heading {
    margin-right: 10px;
    width: 46%;
    font-size: 13px;
	}
	.branding2 .df-sitename img {
    height: 35px;
	}
	.search_block label {
    display: block;
	}
	
}

@media(max-width:767px){
	.home .header-wrapper .menu-section {
    top: 0;
	}
	body .ms-slide .ms-layer, body .ms-fixed-layers .ms-layer {
    font-size: 15px !important;
	margin-top: 20px !important;
	}
	body .ms-slide .ms-layer span {
    font-size: 14px;
	}
	.section_1 h2 {
    font-size: 25px;
    line-height: 40px;
	}
	.section_1 .vc_column-inner {
    padding-top: 0 !important;
	}
	.section_1 p {
    font-size: 16px;
    color: #000;
	}
	.section_1 blockquote.blk2 {
    font-size: 18px;
	}
	body .section_2 {
    padding-bottom: 50px !important;
	}
	.section_2 h2 {
    font-size: 20px;
    line-height: 32px;
	}
	.cpta-Section {
    padding-bottom: 20px;
	}
	.adverts_section {
    padding: 20px 10px;
	margin-top: -100px;
	}
	.cpta-Section.even .adverts_section {
    padding: 20px 10px;
	margin-top: 0
	}
	.cpta-Section.even .cpta_image {
    margin-top: -100px;
	}
	.section_4 h1 {
    font-size: 20px;
    line-height: 32px;
	}	
	.section_4.vc_row-has-fill {
    padding-bottom: 20px !important;
	}
	.df_row-fluid .section_5 .wpb_content_element {
    padding-left: 15px !important;
    padding-right: 15px !important;
	}
	.market_report {
    padding-left: 0;
    margin-top: 20px;
	}
	.header-wrapper .menu-section .df_container-fluid.fluid-width .col-left {
    width: calc(100% - 40%);
	}
	.header-wrapper .site-header:before {
    width: calc(100% - 40%);
	}
	.gallry_block {
    margin-bottom: 25px;
	}
	.copyright-text {
    padding: 7px 20px;
	}
	.copyright-text .copy {
    padding-top: 0;
    text-align: center;
    margin-bottom: 20px;
	}
	.footer-primary-widgets {
    padding: 40px 0;
	}
	.nopadding {
    padding: 0 15px;
	}
	.useful_links h4.vc_custom_heading {
    margin-right: 0;
    width: 100%;
    font-size: 13px;
	}
	.list-cptapagination {
    padding-top: 0;
	text-align: center;
	}
	ul.list-cptapagination li a {
    padding: 3px 12px;
    font-size: 14px;
	}
	.visible-xs {
    display: block !important;
	}
	.hidden-xs {
    display: none !important;
	}
	.slider_headings .custom_heading h2{
	margin: 0;
    height: 90px;
    line-height: 90px;
    font-size: 18px;
    color: #1f314f;
    position: relative;
	text-transform: uppercase;
	}
	.slider_headings .vc_column-inner {
    padding: 0;
	}
	.prostock_heading .custom_heading h2 {
    text-transform: uppercase;
	}
	.slider_area .cpta-Section {
    padding: 0;
	}
	.slider_area .cpta-Section .flexslider {
    margin-bottom: 20px;
	}
	.vc_grid-filter-select .vc_grid-styled-select {
    width: 100%;
	}
	.search_block select {
    width: 100%;
	}
	

}

@media(max-width:480px){
	.table-data .dataTables_wrapper .dataTables_length {
    width: 100%;
		}
	.table-data div.dataTables_wrapper div.dataTables_filter {
    width: 100%;
    text-align: center;
	}
	body .table-data .dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-bottom: 10px;
	}
	.search_block {
    padding-top: 0;
	}
	.office_address h2.vc_custom_heading {
    font-size: 20px;
    line-height: 32px;
	}
	.office_address p.vc_custom_heading {
    font-size: 15px;
    line-height: 24px;
	}
	.office_address {
    margin-top: 4vh;
	}
	.section_1 h2 {
    font-size: 18px;
    line-height: 30px;
	}
	.section_1 p {
    font-size: 14px;
	}
	.section_1 blockquote.blk2 {
    font-size: 16px;
	}
	.adverts_section span {
    font-size: 11px;
	}
	.useful_links h4.vc_custom_heading{
		transform:none;
	}
	.useful_links h4.vc_custom_heading a{
		transform:none;
	}
	.aside_post_meta span {
    font-size: 14px;
    padding: 6px 8px;
	}
	.ads_description p {
    margin-bottom: 10px;
	}
	.table-data input.btn {
    margin: 20px auto 0;
    width: 92%;
    display: block;
	}
	.table-data input.btn.btn-success {
    margin-top: 0;
    width: 100%;
	}
	.useful_links_heading .vc_custom_1513688801736 {
    padding-bottom: 0 !important;
	}
}
	
@media(max-width:320px){
	body .ms-slide .ms-layer, body .ms-fixed-layers .ms-layer {
	font-size: 12px !important;
	}
	body .ms-slide .ms-layer span {
    font-size: 10px;
	}
	.section_1 h2 {
	font-size: 20px;
	line-height: 32px;
	}
	.section_1 p {
	font-size: 14px;
	}
	.section_1 blockquote.blk2 {
	font-size: 15px;
	}
	body .section_2 h2 a {
    font-size: 22px;
	}
	.section_2 h2 {
    font-size: 16px;
	}
	body .section_2 h2 a {
    font-size: 18px;
	}
	.adverts_section span {
    font-size: 10px;
	}
	.section_4 h1 {
    font-size: 16px;
	}
	.wpb_posts_slider .flex-caption .post-title a.link_image {
    font-size: 20px;
	}
	.cpta_image img {
    min-height: 300px;
	}
	ul.list-cptapagination li a {
    padding: 2px 10px;
    font-size: 14px;
	}
	h2.foot_phone {
    font-size: 28px;
	}
	.header-wrapper .menu-section .df_container-fluid.fluid-width .col-left {
    width: calc(100% - 50%);
	}
}